.home-page{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.home-left{
    margin-top: 100px;
    margin-left: 180px;
    width: 50%;
    color: #FFFFFF;
}

.header{
    font-size: 60px;
    font-weight: 600;
}

.content{
    margin-top: 20px;
}

.home-left button{
    margin-top: 30px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    background: #FFFFFF;
    color: black;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}



.home-right {
    margin-top: 50px;
    position: relative;
    left: -100px;
    top: -50px;
  }
  
  .img1 {
    height: 300px;
    /* width: ; */
    position: absolute;
    top: 140px;
    left: 0;
    z-index: 1; 
  }
  
  .img2 {
    height: 450px;
    width: 220px;
    top: 80px;
    left: 150px;
    position: relative;
    z-index: 2; 
  }

  .background{
    position: relative;
    top: -580px;
    left: 680px;
    z-index: 0;
    width: 800px;
    height: 650px;

  }